@import '/pure/pure.css';
@import '/pure/grids-responsive.css';
@import '/css/pure-extend.css';
@import '/css/extra.css';
@import '/js/johndyer-mediaelement/build/mediaelementplayer.min.css';
@import '/libs/swiper/dist/css/swiper.min.css';
@import '/libs/font-awesome/css/fontawesome.min.css';
@import '/libs/TurnWheel/jReject/css/jquery.reject.css';
@import '/libs/fancybox/dist/jquery.fancybox.min.css';
@import '/libs/select2/dist/css/select2.min.css';
@import '/fonts/fonts.css';
@import '/fonts/stylesheet.css';
html {
  height: 100%;
  background: #f4f4f4;
}
body {
  min-height: 100vh;
  color: #333;
  font-weight: 300;
  font-family: 'Gotham SSm A', 'Gotham SSm B', Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  outline: none;
  color: #428bca;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
a:hover {
  text-decoration: none;
  color: #cc3c0d;
}
#page {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: auto;
}
div.container {
  max-width: 1170px;
}
footer {
  height: 62px;
  clear: both;
  position: relative;
  z-index: 3;
  background: #fff;
  display: flex;
  align-items: center;
}
div.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 62px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 13px;
}
div.footer-content ul {
  list-style: none;
  padding: 0;
  margin: 0 -15px;
  display: flex;
}
div.footer-content ul a {
  display: flex;
  align-items: center;
  padding: 0 15px;
  position: relative;
}
header {
  min-height: 187px;
  height: 187px;
  position: relative;
  z-index: 222;
  background: #f4f4f4;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
header.fixed {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  min-height: auto;
  height: 150px;
}
header.fixed + main {
  margin-top: 187px;
}
header.fixed div.header-content {
  padding-bottom: 44px;
  height: 150px;
}
header.fixed a.logo {
  background-size: 83px;
  padding: 0 0 0 90px;
  font-size: 11px;
  height: 85px;
}
header.fixed ul.main-menu > li > a {
  font-size: 14px;
  height: auto;
}
header.fixed .top-menu-container {
  display: none;
}
header > .container {
  position: relative;
  height: 100%;
}
main {
  flex: auto;
  flex-grow: 1;
}
div.header-content {
  position: relative;
  height: 100%;
  padding: 0 0 56px 360px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
}
div.header-content > * {
  display: flex;
}
a.logo {
  display: flex;
  align-items: center;
  position: absolute;
  left: 15px;
  top: 0;
  bottom: 56px;
  background: url(../../images/logo.png) left center no-repeat;
  z-index: 15;
  color: #454545;
  padding: 0 0 25px 86px;
  line-height: 1.4;
  font-size: 15px;
}
a.logo strong {
  display: block;
  font-weight: 500;
}
div.sidebar {
  width: 180px;
}
div.mainbar {
  background: #b0b0f0;
}
section {
  padding: 50px 0;
}
div.index-swiper-container {
  position: relative;
}
div.index-swiper-container .swiper-pagination {
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.15);
  height: 55px;
  align-items: center;
  display: flex;
  justify-content: center;
}
div.index-swiper-container .swiper-pagination * {
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
  opacity: 1;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  border-radius: 100%;
  background: none;
  margin: 0 12px;
  cursor: pointer;
}
div.index-swiper-container .swiper-pagination *:hover,
div.index-swiper-container
  .swiper-pagination
  *.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #fff;
}
div.index-swiper .swiper-slide .photo {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  min-height: 400px;
  max-height: 400px;
}
div.index-swiper div.swiper-slide-content {
  color: #fff;
}
div.index-swiper div.swiper-slide-content .cont {
  padding: 40px 40px 40px 15px;
}
div.index-swiper div.swiper-slide-content .cont h2 {
  font-size: 1.87em;
  font-weight: 500;
}
div.index-swiper div.swiper-slide-content .cont .action {
  margin-top: 30px;
}
div.index-swiper-container .swiper-button-prev,
div.index-swiper-container .swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  font-size: 36px;
  width: 80px;
  color: #fff;
  top: auto;
  bottom: 0;
  margin: 0;
  height: 55px;
}
div.swiper-carusel-container {
  position: relative;
  padding: 0 84px;
}
div.swiper-carusel .swiper-slide {
  width: auto;
}
div.swiper-carusel .swiper-slide a {
  display: block;
  border: 1px solid #212121;
}
div.swiper-carusel .swiper-slide a img {
  display: block;
  width: 100%;
  height: auto;
}
div.swiper-carusel-container .swiper-button-prev,
div.swiper-carusel-container .swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
}
div.header-elements {
  margin: 0 -15px;
}
div.header-elements > div {
  padding: 0 15px;
}
div.content-block {
  border: 1px solid #b1b3b3;
  border-top-width: 7px;
  background: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex: auto;
}
div.content-block.special {
  min-height: 455px;
}
div.content-block h3 {
  color: #002c6c;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.3;
}
div.content-block h3.bordered {
  font-size: 18px;
  border-bottom: 1px solid #b2b2b8;
  font-weight: 400;
  padding-bottom: 0.75em;
  margin-bottom: 0.7em;
}
div.content-block .descr {
  flex: auto;
}
div.content-block .descr ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
div.content-block .action {
  border-top: 1px solid #b1b3b3;
  font-size: 14px;
  font-weight: 500;
}
div.content-block .action a {
  display: flex;
  align-items: center;
  height: 45px;
  line-height: 1.2;
  margin-bottom: -20px;
  color: #f26334;
}
div.content-block .action a:after {
  content: '\f105';
  font-family: FontAwesome;
  margin: 0 0 0 0.5em;
}
div.content-block .action a:hover {
  color: #002c6c;
}
div.content-block .photo {
  margin: -20px -20px 20px;
  position: relative;
}
div.content-block .photo img {
  display: block;
  width: 100%;
  height: auto;
}
div.content-block .photo.video-type:after {
  content: '\f144';
  font-family: 'Font Awesome 5 Pro';
  font-weight: 400;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #032c6c;
  font-size: 60px;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
div.content-block .photo.video-type:before {
  content: '';
  width: 58px;
  height: 58px;
  border-radius: 100%;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -29px 0 0 -29px;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
div.content-block .photo.video-type:hover:after {
  background: rgba(0, 0, 0, 0.2);
}
div.content-block .action-sb {
  font-size: 14px;
  margin-top: 15px;
}
div.content-block-colls {
  display: flex;
  margin: 0 -15px;
}
div.content-block-colls > div {
  padding: 0 15px;
}
div.content-block-colls .cont {
  flex: auto;
  min-width: 1px;
}
ul.news-list-simple {
  list-style: none;
  padding: 0;
  margin: -15px 0 0;
}
ul.news-list-simple > li {
  border-bottom: 1px solid #b1b3b3;
  padding: 15px 0;
}
ul.news-list-simple > li a {
  display: block;
}
ul.news-list-simple .date {
  display: block;
}
ul.news-list-simple .descr {
  display: block;
  margin-top: 10px;
}
ul.news-list-simple.mod > li {
  position: relative;
  padding-left: 80px;
}
ul.news-list-simple.mod .date {
  position: absolute;
  left: 0;
  top: 15px;
  font-size: 11px;
  line-height: 13px;
  color: #b1b3b3;
}
section.footer-colls-section {
  padding: 30px 0;
}
div.footer-colls {
  display: flex;
  margin: 0 -15px;
  font-size: 14px;
}
div.footer-colls > div {
  padding: 0 15px;
  flex: 1 1 100%;
}
div.footer-colls ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
div.footer-colls .title {
  font-size: 1.28em;
  color: #002c6c;
  font-weight: 400;
  margin-bottom: 0.7em;
}
div.content-blocks {
  margin-top: -30px;
}
div.content-blocks > div {
  margin-top: 30px;
}
div.promo-txt {
  font-size: 20px;
  font-weight: 400;
  color: #002c6c;
}
section.path-container-section {
  padding: 0;
  font-weight: 400;
}
section.path-container-section + section {
  padding-top: 0;
}
div.path-container {
  position: relative;
  display: flex;
  justify-content: space-between;
}
div.path-container .iconed-link {
  display: flex;
  height: 74px;
  align-items: center;
}
ul.path {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}
ul.path > li {
  display: flex;
  align-items: center;
}
ul.path > li:not(:first-child):before {
  content: '/';
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 30px;
}
ul.path > li > a {
  display: flex;
  height: 74px;
  align-items: center;
  position: relative;
}
div.content-block-2 {
  border: 1px solid #b1b3b3;
  border-top-width: 7px;
  background: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex: auto;
}
div.content-block-2 + div.content-block-2 {
  margin-top: 30px;
}
.cb-title {
  font-size: 18px;
  border-bottom: 1px solid #b2b2b8;
  font-weight: 400;
  padding-bottom: 0.75em;
  margin-bottom: 0.7em;
}
ul.simple-list {
  list-style: none;
  padding: 0;
  margin: -15px 0;
}
ul.simple-list > li > a {
  border-bottom: 1px solid #b1b3b3;
  padding: 15px 0;
  display: block;
}
ul.simple-list > li:last-child > a {
  border: 0;
}
div.accorditions-block > div {
  margin: 0;
}
div.accorditions-block > div:first-child {
  margin: 0;
}
div.accorditions-block .accord-toggler {
  display: flex;
  align-items: center;
  text-decoration: none !important;
  padding: 1.3em 40px 1.3em 22px;
  font-size: 18px;
  color: #002c6c;
  font-weight: 400;
  line-height: 1.1;
  border-bottom: 1px solid #b1b3b3;
  position: relative;
}
div.accorditions-block > div:last-child .accord-toggler {
  border: 0;
}
div.accorditions-block .accord-toggler:after {
  font-family: FontAwesome;
  content: '\f067';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  font-size: 17px;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
div.accorditions-block .accord-toggler.opened:after {
  content: '\f068';
}
div.accorditions-block .accord-toggler:hover {
  color: #b70713;
}
div.accorditions-block .accord {
  display: none;
  width: 100% !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
div.accorditions-block .accord-toggler.opened {
  color: #e8291e;
}
div.accorditions-block .accord > div {
  padding: 30px 22px 0;
}
div.join-us-steps-container {
  padding: 15px;
  border: 1px solid #b1b3b3;
  background: #fff;
  margin: 30px 0;
}
div.join-us-steps {
  display: flex;
}
div.join-us-steps > div {
  flex: 1 1 100%;
  border-left: 1px solid #b1b3b3;
  padding: 20px;
  display: flex;
  align-items: center;
}
div.join-us-steps > div:first-child {
  border: 0;
}
div.join-us-steps .nr {
  min-width: 31px;
  flex-basis: 31px;
  height: 31px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #919195;
  color: #fff;
  font-size: 24px;
  margin-right: 0.6em;
}
div.join-us-steps .cont {
  flex: auto;
}
div.join-us-steps > div.selected {
  color: #f26334;
}
div.join-us-steps > div.selected .nr {
  background: #f26334;
}
ul.socials {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin: 0 -5px;
}
ul.socials > li {
  padding: 0 5px;
}
ul.socials > li > a {
  display: flex;
  min-width: 36px;
  height: 36px;
  align-items: center;
  justify-content: center;
  background: #002c6c;
  color: #fff;
  border-radius: 100%;
}
ul.socials > li > a:hover {
  background: #f26334;
}
div.top-menu-container {
  margin-bottom: 8px;
}
ul.top-menu {
  list-style: none;
  padding: 0;
  margin: 0 -8px;
  display: flex;
}
ul.top-menu > li {
  display: flex;
}
ul.top-menu > li > a {
  display: flex;
  font-size: 14px;
  padding: 5px 8px;
  position: relative;
}
ul.top-menu > li:not(:first-child) > a:before {
  content: '';
  position: absolute;
  left: 0;
  top: calc(50% - 8px);
  width: 1px;
  height: 16px;
  background: #ccc;
}
nav.main-menu-container {
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 0;
  padding-top: 1px;
}
nav.main-menu-container:before {
  content: '';
  position: absolute;
  left: -100vw;
  top: 0;
  right: -100vw;
  bottom: 0;
  background: #fff;
  border-top: 1px solid #fff;
  box-shadow: inset 0 2px 3px -2px rgba(0, 0, 0, 0.3);
}
ul.main-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 -20px;
  position: relative;
  z-index: 2;
  flex: auto;
}
ul.main-menu > li {
  display: flex;
}
ul.main-menu > li > a {
  display: flex;
  flex: auto;
  align-items: center;
  height: 55px;
  padding: 10px 20px;
  line-height: 1.1;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  color: #002c6c;
  font-weight: 500;
  position: relative;
}
ul.main-menu > li > a:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 8px;
  background: #f26334;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  opacity: 0;
}
ul.main-menu > li:hover > a:before,
ul.main-menu > li.selected > a:before {
  opacity: 1;
}
ul.main-menu > li.has-submenu > a:after {
  content: '\f107';
  font-family: FontAwesome;
  font-size: 1.4em;
  margin-left: 0.5em;
}
ul.main-menu > li:hover > a,
ul.main-menu > li.selected > a {
  color: #f26334;
}
ul.main-menu > li > ul,
ul.main-menu > li > .main-menu-dropdown {
  list-style: none;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background: #f4f4f4;
  padding: 30px;
  opacity: 0;
  visibility: hidden;
}
ul.main-menu > li > .main-menu-dropdown.whiten {
  background: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
ul.main-menu > li:hover > ul,
ul.main-menu > li:hover > .main-menu-dropdown {
  opacity: 1;
  visibility: visible;
  box-shadow: 3px 5px 15px -6px #ccc;
}
div.dropdown-colls {
  display: flex;
  margin: 0 -15px;
}
div.dropdown-colls > div {
  padding: 0 15px;
  flex: 1 1 100%;
  display: flex;
}
div.main-menu-sub-container {
  padding: 20px;
  background: #002c6c;
  color: #fff;
  font-size: 14px;
  flex: auto;
}
div.main-menu-sub-container .title {
  font-weight: 700;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 0.8em;
  font-size: 1.1em;
  margin-bottom: 1em;
}
div.main-menu-sub-container ul {
  list-style: none;
  padding: 0;
  margin: -0.5em 0;
}
div.main-menu-sub-container ul > li > a {
  display: flex;
  align-items: center;
  color: #fff;
  line-height: 1.3;
  padding: 0.5em 0;
}
div.main-menu-sub-container ul > li > a:after {
  content: '\f105';
  font-family: FontAwesome;
  font-size: 1.2em;
  margin-left: 0.5em;
}
div.main-menu-sub-container ul > li:hover > a,
div.main-menu-sub-container ul > li.selected > a {
  color: #f26334;
}
div.main-menu-sub-2-container {
  flex: auto;
}
ul.main-menu-sub-2 {
  list-style: none;
  padding: 0;
  margin: 0;
  flex: auto;
}
ul.main-menu-sub-2 > li {
  margin-bottom: 10px;
}
ul.main-menu-sub-2 > li > a {
  display: block;
  background: #f26334;
  color: #fff;
  padding: 9px 16px;
  font-weight: 500;
}
ul.main-menu-sub-2 > li > a:hover {
  background: #002c6c;
  color: #fff;
}
div.solutions-in-drop {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
}
div.solutions-in-drop > div {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  flex: auto;
}
div.solutions-in-drop > div ul {
  list-style: none;
  padding: 0;
  margin: 5px 0 0;
  font-size: 14px;
  text-align: Center;
}
div.solutions-in-drop > div ul > li {
  margin-top: 10px;
}
.form-type-textfield label {
  margin-right: 15px;
}
.btn-primary.btn.form-submit {
  margin-top: 15px;
}
div.solutions-in-drop > div > a {
  display: flex;
  flex-direction: column;
  flex: auto;
  align-items: center;
  text-align: center;
  color: #002c6c;
  font-weight: 500;
  font-size: 14px;
}
div.solutions-in-drop > div > a .icon {
  min-height: 80px;
}
div.solutions-in-drop > div > a:hover {
  color: #f26334;
}
div.main-menu-dropdown.standarts-in-dropdown {
  display: flex;
  background: #fff !important;
  padding: 0 !important;
}
div.standarts-in-dropdown .cont {
  flex: auto;
  padding: 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
div.standarts-in-dropdown .standarts-list {
  padding: 30px;
  background: #f4f4f4;
  width: calc(25% + 30px);
}
ul.content-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.content-menu > li > a {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px;
}
.select2-container--custom-select-style {
  background: #fff;
  border: 1px solid #b1b3b3;
  border-radius: 0;
}
.select2-container--custom-select-style .select2-selection--single {
  height: 45px;
  display: flex;
  justify-content: space-between;
}
.select2-container--custom-select-style
  .select2-selection--single
  .select2-selection__rendered {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  flex: auto;
  font-size: 18px;
  color: #454545;
  font-weight: 400;
}
.select2-container--custom-select-style
  .select2-selection--single
  .select2-selection__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 30px;
}
.select2-container--custom-select-style
  .select2-selection--single
  .select2-selection__arrow:after {
  content: '\f078';
  font-family: FontAwesome;
  color: #f26334;
  min-width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.select2-container--custom-select-style .select2-dropdown {
  background: #fff;
  border-color: #b1b3b3;
  transform: translate(-1px, -5px);
  border-radius: 0;
}
.select2-container--custom-select-style .select2-results__option {
  padding: 8px 20px;
  font-size: 18px;
  color: #454545;
  font-weight: 400;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  border-radius: 0;
}
.select2-container--custom-select-style .select2-results__option:hover {
  background: rgba(0, 0, 0, 0.05);
}
div.inputs-container {
  margin: -25px -15px 0;
}
div.inputs-container > div {
  margin-top: 25px;
  padding: 0 15px !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
div.inputs-container input[type='text'],
div.inputs-container input[type='email'] {
  border: 1px solid #b1b3b3;
  background: #fff;
  width: 100%;
  font-size: 18px;
  color: #454545;
  padding: 12px 20px;
  border-radius: 0;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  font-weight: 400;
}
div.inputs-container textarea {
  border: 1px solid #b1b3b3;
  background: #fff;
  width: 100%;
  font-size: 18px;
  color: #454545;
  padding: 12px 20px;
  border-radius: 0;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  font-weight: 400;
  resize: vertical;
}
div.inputs-container input[type='text']:focus,
div.inputs-container textarea:focus {
  border-color: #6d6d6d;
}
div.inputs-container label.simple {
  display: block;
  font-size: 18px;
  margin-bottom: 0.5em;
}
div.inputs-container select {
  width: 100%;
}
div.join-us-summary-block {
  margin: 30px 0 0;
  background: #fff;
  border: 1px solid #b1b3b3;
  display: flex;
  justify-content: space-between;
  padding: 40px;
}
div.join-us-summary-block .title {
  color: #002c6c;
  font-weight: 400;
  font-size: 30px;
}
div.join-us-summary-block .subtitle {
  font-weight: 400;
  font-size: 22px;
}
div.join-us-summary-block .price-coll {
  text-align: right;
  display: flex;
  flex-direction: column;
}
div.join-us-summary-block .price-coll .price {
  font-size: 42px;
  color: #f26334;
  line-height: 1.3;
}
div.join-us-summary-block .price-coll .price-submit {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
div.join-us-summary-block .price-coll .price-submit > * + * {
  margin-left: 15px;
}
div.search-container form {
  display: flex;
  background: #fff;
  border: 1px solid #b1b3b3;
  height: 36px;
  position: relative;
}
div.search-container form:before {
  content: '\e003';
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  bottom: 0;
  width: 30px;
  align-items: center;
  justify-content: center;
  font-family: 'Glyphicons Halflings';
  color: #999;
  font-size: 13px;
}
div.search-container form input[type='text'] {
  border: 0;
  background: none;
  color: #777;
  padding: 0 12px 0 30px;
  font-size: 14px;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
div.search-container form input[type='text']:focus {
  color: #000;
}
div.search-container form input[type='submit'] {
  font-family: FontAwesome;
  padding: 0;
  min-width: 34px;
  background: none;
  color: #f26334;
  font-size: 28px;
  line-height: 1;
  border: 0;
  border-left: 1px solid #b1b3b3;
}
.custom-title-1 {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.3;
  margin-bottom: 0.7em;
}
.all-height {
  display: flex;
  flex: 1 1 100%;
}
.ext_button {
  display: inline-flex;
  align-items: center;
  height: 3.15em;
  line-height: 1em;
  padding: 0 3.15em;
  position: relative;
  text-decoration: none !important;
}
.ext_button.narrow {
  padding: 0 1.8em;
  height: 3em;
  font-weight: 400;
}
.ext_button.bordered {
  border: 1px solid #cecece;
}
.ext_button.rounded {
  border-radius: 0.8em;
}
.ext_button.shadowed {
  -webkit-box-shadow: 0.14em 0.14em 0 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0.14em 0.14em 0 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0.14em 0.14em 0 0 rgba(0, 0, 0, 0.75);
}
.ext_button.full-w {
  display: block;
  text-align: center;
}
.ext_button .fa {
  margin: 0 0 0 1.1em;
}
.ext_button .fa:first-child {
  margin: 0 1.1em 0 0;
}
.ext_button.orange-style {
  background: #f26334;
  color: #fff;
}
.ext_button.orange-style:hover {
  background: #002c6c;
  color: #fff;
}
.ext_button.blue-style {
  background: #002c6c;
  color: #fff;
}
.ext_button.blue-style:hover {
  background: #f26334;
  color: #fff;
}
.ext_button.user-zone {
  font-size: 12px;
  font-weight: 500;
}
.ext_button.user-zone .fa {
  font-size: 1.4em;
}
.btn-mod {
  justify-content: center;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}
.grey-bg {
  background: #f4f4f4;
}
.white-bg {
  background: #fff;
}
.blue-color {
  color: #002c6c;
}
.services-tag {
  font-size: 26px;
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: 15px;
}
.content-blocks.inside > div {
  margin: 0;
  margin-bottom: 30px;
}
.map-container {
  padding: 40px 0;
}
.big_button {
  margin: 20px 0;
}
h2.name_box {
  font-size: 24px;
  font-weight: 400;
  margin: 20px 0;
}
.content-block-2 hr {
  background-color: #b1b3b3;
  border: 0 none;
  clear: both;
  color: #f4f4f4;
  height: 1px;
  margin: 25px 0;
}
.content-block-2 p {
  margin: 10px 0;
}
.content-block-2 p:last-child {
  padding: 0;
  margin: 0;
}
[data-title]:hover::before {
  content: attr(data-title);
  position: absolute;
  margin-top: -36px;
  display: inline-block;
  padding: 9px 15px;
  border-radius: 2px;
  background: #393b3f;
  color: #fff;
  font-size: 12px;
  font-family: sans-serif;
  white-space: nowrap;
}
toolkit .bg-orange {
  background-color: #f26334 !important;
}
.toolkit .content-module-bar {
  height: 7px;
  pointer-events: none;
}
.check-digit-calculator-form .content-module-padding {
  padding: 20px 20px 10px;
}
.toolkit .content-module {
  background-color: #fff;
  border: 1px solid #b1b3b3;
  border-top: 0;
  position: relative;
}
.toolkit .content-module-padding {
  padding: 20px;
}
.inline-flex-block {
  display: flex;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
}
.check-digit-number {
  color: #f26334;
}
.inpute-cose-generator {
  width: 100%;
}
div.line-container {
  padding-top: 100px;
}
.line-container-box {
  margin-bottom: -30px;
}
.line-container-box > div {
  margin-bottom: 30px;
}
div.line-item {
  border: 1px solid #b0b3b3;
  border-top: 6px solid #b30c00;
  padding: 25px 20px 25px 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 880px;
}
div.line-item .descr {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
div.line-item .photo {
  text-align: center;
}
div.line-item .descr .title {
  text-align: center;
  color: #002c6c;
  font-size: 18px;
  border-bottom: 1px solid #b2b2b8;
  font-weight: 400;
  padding-bottom: 0.75em;
  margin-bottom: 0.7em;
}
div.line-item .descr .action {
  font-size: 16px;
  margin-top: 120px;
  text-align: center;
}
div.line-item .checkboxes {
  margin-bottom: -18px;
  color: #b2201f;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.line-item .checkboxes > div {
  margin-bottom: 18px;
  display: flex;
  align-items: center;
}
div.line-item .checkboxes .text {
  margin-left: 15px;
  font-size: 14px;
}
div.line-item .checkboxes .checkbox {
  border: 1px solid #75929f;
  border-radius: 3px;
  background: #acdb32;
  color: #fff;
  width: 30px;
  min-width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
div.line-item .checkboxes .checkbox.no {
  background: #c93b39;
  color: #465357;
}
div.line-item .checkboxes .checkbox.no .fal:before {
  content: '\f00d';
}
div.add-block {
  padding: 45px 50px 40px 50px;
  border: 1px solid #b0b3b3;
  border-top: 6px solid #002c6c;
  margin-top: 70px;
}
div.add-block h2 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 65px;
}
@media (max-width: 767px) {
  body {
    font-size: 15px;
  }
  a.smart_menu_caller {
    display: flex;
    color: #002c6c;
  }
  table.special {
    width: 100%;
    display: block;
    margin: 10px 0;
  }
  table.special thead {
    display: none;
  }
  table.special tbody {
    width: 100%;
    display: block;
  }
  table.special tbody tr {
    width: 100%;
    display: block;
  }
  table.special tbody td:before {
    display: block;
    padding: 10px;
    content: attr(data-label);
    margin: -10px;
    margin-bottom: 10px;
    font-weight: 700;
  }
  header.fixed a.logo {
    height: 70px;
  }
  table.special tbody td {
    width: 100%;
    display: block;
    padding: 10px;
    margin-bottom: 10px;
  }
  .container {
    width: auto;
  }
  div.mob_nav_container div.mob-nav-top-line {
    background: #002c6c;
    display: flex;
    justify-content: space-between;
    color: #fff;
  }
  div.mob-nav-top-line > div {
    flex: 1 1 100%;
    border-left: 1px solid rgba(193, 217, 184, 0.3);
  }
  div.mob-nav-top-line a {
    display: block;
    text-align: center;
    color: #fff;
    padding: 15px;
  }
  div.mob_header_extention {
    display: block;
    position: absolute;
    left: 160px;
    top: 0;
    right: 70px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  div.mob_header_extention > div {
    height: 70px;
  }
  div.mob-header-items {
    display: flex;
    align-items: center;
  }
  .user-zone span {
    display: none;
  }
  .ext_button.user-zone .fa {
    margin: 0;
  }
  div.mob-header-items > div {
    border-right: 1px solid rgba(193, 217, 184, 0.3);
  }
  div.mob-search-container {
    display: block;
    height: 0;
    overflow: hidden;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  div.mob-search-container.opened {
    height: 40px;
  }
  div.page-module > img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
  }
  div.mob-search-container.mob-position-fixed {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 221;
  }
  div.mob-search-container.mob-position-fixed.opened
    + header.mob-position-fixed {
    top: 40px;
  }
  div.langs-select select {
    border: 0;
    height: 70px;
    text-align: center;
    font-size: 16px;
    padding: 0 15px;
    -webkit-appearance: none;
    border-radius: 0;
    background: none;
  }
  div.mob_search a {
    display: flex;
    height: 70px;
    width: 60px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    text-decoration: none;
    color: #f26334;
  }
  header {
    min-height: 70px;
    height: 70px;
    -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background: #fff;
  }
  header.fixed {
    min-height: 70px;
    height: 70px;
  }
  header.mob-position-fixed + div,
  header.mob-position-fixed + main {
    margin-top: 70px;
  }
  a.logo {
    bottom: 0;
    padding: 0;
    font-size: 13px;
    width: 150px;
  }
  header.fixed a.logo {
    background-size: auto;
  }
  a.logo span {
    display: none;
  }
  div.header-content {
    display: none;
  }
  ul.main-menu {
    display: block;
    margin: 0;
  }
  ul.main-menu > li {
    display: block;
  }
  ul.main-menu > li > a {
    display: block;
    position: relative;
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: auto;
  }
  ul.main-menu > li > a:before {
    display: none;
  }
  ul.main-menu > li > a:after {
    display: none;
  }
  ul.main-menu > li:hover > a,
  ul.main-menu > li.selected > a {
    background: #fff;
  }
  ul.main-menu > li > a .fa {
    position: absolute;
    right: 10px;
    top: 10px;
    bottom: 10px;
    width: 30px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  ul.main-menu > li.selected > a .fa:before {
    content: '\f068';
  }
  ul.main-menu > li.selected > ul,
  ul.main-menu > li.selected > .main-menu-dropdown {
    max-height: 1300px;
  }
  ul.main-menu > li > ul,
  ul.main-menu > li > .main-menu-dropdown {
    position: static;
    opacity: 1;
    visibility: visible;
    background: #fff;
    overflow: hidden;
    max-height: 0;
    padding: 0;
    display: block;
  }
  div.dropdown-colls {
    flex-direction: column;
  }
  section {
    padding: 30px 0;
  }
  div.index-swiper {
    height: 100vw;
  }
  div.index-swiper .swiper-slide .photo {
    height: 100vw;
    object-fit: cover;
  }
  div.index-swiper div.swiper-slide-content .pure-g {
    flex-direction: column-reverse;
  }
  div.index-swiper div.swiper-slide-content .cont {
    padding: 15px;
    margin: 0 15px 15px;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: auto;
    font-size: 14px;
  }
  div.index-swiper div.swiper-slide-content .action {
    font-size: 0.92em;
  }
  div.index-swiper div.swiper-slide-content .media {
    padding: 5px;
  }
  div.index-swiper div.swiper-slide-content .media img {
    max-height: calc(100vw - 10px);
    min-height: calc(100vw - 10px);
    object-fit: cover;
  }
  div.index-swiper-container .swiper-pagination,
  div.index-swiper-container .swiper-button-prev,
  div.index-swiper-container .swiper-button-next {
    display: none;
  }
  .mobile-menu-toggler {
    display: flex !important;
    padding: 15px;
    border: 1px solid #f1f1f1;
    position: relative;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-menu-toggler .fa {
    font-size: 18px;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    position: absolute;
    right: 0;
    top: 10px;
    bottom: 10px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }
  .mobile-menu-toggler.opened .fa:before {
    content: '\f068';
  }
  div.content-menu-container {
    margin: -15px -15px 15px;
  }
  ul.content-menu {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  ul.content-menu.opened {
    max-height: 500px;
  }
  footer {
    margin: 0;
    height: auto;
    padding: 15px;
  }
  div.footer-content {
    height: auto;
    display: block;
    text-align: center;
    border: 0;
  }
  div.promo-txt {
    font-size: 17px;
  }
  section.content-blocks-section {
    padding: 0;
  }
  div.content-blocks-container {
    margin: 0 -15px;
  }
  div.content-blocks {
    margin-top: 0;
  }
  div.content-blocks > div {
    margin-top: 0;
  }
  div.content-block .action-sb {
    font-size: 12px;
  }
  div.footer-colls {
    flex-direction: column;
    text-align: center;
    margin-top: -30px;
  }
  div.footer-colls > div {
    margin-top: 30px;
  }
  div.footer-content ul,
  div.footer-content ul a {
    display: block;
    text-align: center;
  }
  div.search-container form {
    width: 100%;
    height: 40px;
    border: 0;
  }
  div.search-container form input[type='text'] {
    flex: auto;
  }
  div.content-block {
    border-top-width: 2px;
  }
  ul.main-menu-sub-2 > li {
    margin: 0;
  }
  ul.main-menu-sub-2 > li > a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  div.standarts-in-dropdown .cont {
    padding: 15px;
    flex-direction: column;
  }
  div.solutions-in-drop {
    flex-direction: column;
  }
  div.standarts-in-dropdown .cont {
    border: 0;
  }
  div.solutions-in-drop > div {
    margin-bottom: 30px;
    text-align: center;
  }
  div.standarts-in-dropdown .standarts-list {
    width: 100%;
  }
  ul.main-menu > li > .main-menu-dropdown.whiten {
    border: 0;
  }
  div.solutions-in-drop {
    margin: 0;
    border: 0;
    padding: 30px 0 0;
  }
  section.path-container-section {
    display: none;
  }
  section.path-container-section + section {
    padding-top: 30px;
  }
  .custom-title-1 {
    font-size: 30px;
    margin-bottom: 0.7em;
  }
  .xs-top-padd-15 {
    padding-top: 15px;
  }
  div.content-block-2 + div.content-block-2 {
    margin-top: 15px;
  }
  div.join-us-steps {
    flex-direction: column;
  }
  div.join-us-steps > div {
    border: 0;
  }
  div.join-us-summary-block {
    padding: 15px;
    flex-direction: column;
    text-align: center;
  }
  div.join-us-summary-block .price-coll {
    text-align: center;
    margin-top: 30px;
  }
  div.line-item .checkboxes {
    align-items: flex-start;
  }
  div.line-item .descr .action {
    margin-top: 30px;
  }
  div.line-item {
    min-height: auto;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  div.line-item img {
    width: 100%;
    height: auto;
    display: block;
  }
  div.line-item .checkboxes .text {
    font-size: 12px;
  }
  div.line-item .descr .action {
    margin-top: 30px;
  }
  .main-menu-dropdown {
    display: none;
  }
  .ext_button.user-zone .fa {
    display: none;
  }
  div.search-container form {
    width: 150px;
  }
  div.search-container form input[type='text'] {
    flex: auto;
    width: 10px;
  }
  ul.main-menu > li > a {
    font-size: 12px;
  }
  div.index-swiper .swiper-slide .photo {
    width: 100vw;
    margin: 0 0 0 -30px;
  }
  div.footer-colls {
    flex-wrap: wrap;
    margin-top: 30px;
  }
  div.footer-colls > div {
    margin-top: 30px;
    min-width: 33.33%;
    flex-basis: 33.33%;
  }
  .sm-top-padd-30 {
    padding-top: 30px;
  }
}
