div.cart-price {
  display: flex;
  position: relative;
  margin-bottom: 40px;
}
div.cart-price.price-hidden {
  visibility: hidden;
}
div.cart-price div.price-description {
  font-size: 24px;
  color: #4b606c;
  font-weight: 100;
  margin: 30px 6px 30px 0;
  align-items: CENTER;
  display: flex;
}
div.cart-price div.price {
  font-size: 24px;
  color: #ff4737;
  font-weight: 300;
  margin: 30px 0;
  align-items: CENTER;
  display: flex;
}
div.cart-price div.discount {
  font-size: 24px;
  color: #ff4737;
  font-weight: 300;
  margin: 30px 0;
  align-items: CENTER;
  display: flex;
  margin-right: 15px;
}
div.cart-price div.discount + div.price {
  font-size: 18px;
  text-decoration: line-through;
}
.price-container {
  display: flex;
}
.cart-info-container {
  margin-left: 15px;
}
div.cart-content {
  overflow: hidden;
}
div.cart-content table.product-new-cart {
  background: #fff;
}
div.cart-content table.product-new-cart td {
  padding: 13px 18px;
  border-top: 1px solid #e5e7e7;
}
div.cart-content table.product-new-cart tr:first-child td {
  border-top: 0;
}
div.cart-content thead.product-new-cart td {
  background: #e1e1e1;
}
div.cart-content table.product-new-cart td {
  border: 1px solid #e5e7e7;
}
div.cart-content table:not(.cart_price_container) tr td:first-child {
  width: 1%;
}
div.cart-content table.product-new-cart .photo_place img {
  width: 100px;
  height: auto;
  max-width: none;
}
div.cart-content table.product-new-cart div.new-quant input {
  width: 100px;
  border: 1px solid #e6e8e9;
  text-align: center;
  background: none;
  padding: 10px;
}
div.cart-content table.product-new-cart tr.has-error {
  background: #ff00000a;
}
div.cart-content table.product-new-cart .only-left {
  font-size: 12px;
  color: red;
}
div.cart-content table.product-new-cart .old-price {
  color: red;
  font-size: 12px;
  text-decoration: line-through;
}
div.cart-content .promo-new-notok {
  padding: 10px 0;
  color: red;
}
div.cart-content .promo-new-ok {
  padding: 10px 0;
  color: green;
}
div.cart-content .promo-new-ok,
div.cart-content .promo-new-notok {
  display: none;
}
div.cart-content .promo-new-ok.shown,
div.cart-content .promo-new-notok.shown {
  display: block;
}
div.cart-content .new-promo-input {
  width: 200px;
  border: 1px solid #e6e8e9;
  background: none;
  padding: 10px;
}
div.cart-content .new-promo-button {
  margin-left: 10px;
  font-size: 20px;
}
div.cart-content div.dell-header-new {
  display: flex;
  margin: 0 -10px;
  align-items: center;
}
div.cart-content div.dell-header-new .dell-button-new {
  display: flex;
  height: 38px;
  align-items: center;
  margin: 0 10px;
  width: 33.333%;
  padding: 10px 30px 10px 20px;
  border: 1px solid #ccc;
  font-size: 14px;
  background: #fff;
  color: #4a5566;
  line-height: 1;
  position: relative;
}
div.cart-content div.dell-header-new .dell-button-new input {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -6px;
}
div.cart-content div.dell-header-new .dell-button-new.hide-selection {
  opacity: 0.5;
}
.select2-container--custom-select-style-x2 {
  background: #fff;
  font-size: 12px;
}
.select2-container--custom-select-style-x2 .select2-selection--single {
  height: 38px;
  border: 1px solid #ccc;
}
.select2-container--custom-select-style-x2
  .select2-selection--single
  .select2-selection__rendered {
  height: 38px;
  display: flex;
  align-items: center;
}
.select2-container--custom-select-style-x2
  .select2-selection--single
  .select2-selection__arrow {
  height: 38px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
}
.select2-container--custom-select-style-x2
  .select2-selection--single
  .select2-selection__arrow
  b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}
.select2-container--custom-select-style-x2 .select2-dropdown {
  border: 0;
}
.select2-container--custom-select-style-x2
  .select2-results__option.select2-results__option--highlighted {
  background: #e1e1e1;
}
.select2-container--custom-select-style-x2
  .select2-results
  > .select2-results__options {
  overflow-y: auto;
  max-height: 286px;
}
.form-block.inputs-container {
  overflow-y: visible;
}
.payment-desc > div {
  display: none;
}
.payment-desc > div.its-visible {
  display: block;
}
.bank-list {
  display: flex;
  flex-wrap: wrap;
}
.bank-list > label {
  display: block;
  padding: 5px 10px;
  border: 1px solid transparent;
  cursor: pointer;
}
.bank-list > label img {
  width: 100px;
  height: auto;
}
.bank-list > label.selected,
.bank-list > label:hover {
  border: 1px solid rgba(42, 95, 157, 0.5);
}
.ext_button.admin-style {
  background: black;
  color: #fff;
}
.ext_button.admin-style:hover {
  background: #424242;
  color: #fff;
}
#send-cart-block .send-header {
  font-weight: 700;
}
.send-message {
  color: green;
}
#addToCartPopupContent {
  min-width: 450px;
  padding: 15px 0;
}
div.addToCartPopupFooter {
  border-top: 1px solid #999797;
  padding: 30px;
}
div.addToCartPopupFooter a.ext_button {
  padding: 0 0.5em;
}
table.addToCartPorductsListGrid td {
  padding: 10px 30px;
  border-top: 1px solid #ddd;
}
table.addToCartPorductsListGrid tr:first-child td {
  border: 0;
}
table.addToCartPorductsListGrid img {
  display: block;
}
div.customPopupStyle .fancybox-title {
  padding-top: 0;
  padding: 30px 40px 30px 90px;
  border-bottom: 1px solid #999797;
  font-size: 18px;
  color: #1d1d1d;
  background: url(../../images/icons/ico_5.png) 20px center no-repeat;
}
div.customPopupStyle .fancybox-skin {
  padding: 0 !important;
  border-radius: 0 !important;
}
div.customPopupStyle .fancybox-close {
  right: 20px;
  top: 20px;
  background: url(../../images/icons/ico_6.png) center center no-repeat;
  z-index: 8060;
}
div.product_checkout_block {
  overflow: hidden;
}
div.product_checkout_block table {
  background: #fff;
}
div.product_checkout_block table td {
  padding: 13px 18px;
  border-top: 1px solid #e5e7e7;
}
div.product_checkout_block table tr:first-child td {
  border-top: 0;
}
div.product_checkout_block thead td {
  background: #e1e1e1;
}
.wat_to_do {
  margin-top: 10px;
  margin-bottom: 10px;
}
div.product_checkout_block table.product_cart td {
  border: 1px solid #e5e7e7;
}
div.product_checkout_block table:not(.cart_price_container) tr td:first-child {
  width: 1%;
}
div.product_checkout_block table.product_cart .photo_place img {
  width: 100px;
  height: auto;
  max-width: none;
}
.cart_price_container {
  table-layout: fixed;
}
.cart_price_container td + td {
  border-left: 1px solid #e5e7e7;
}
.cart_price_container .select2 {
  max-width: 100% !important;
  width: auto !important;
  margin-top: 15px;
  margin-bottom: 10px;
}
.select2-container .select2-selection--single {
  overflow: hidden;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  max-width: 100%;
  white-space: normal;
  overflow: hidden;
}
div.dell_header {
  display: flex;
  margin: 0 -10px;
  align-items: center;
}
div.dell_header .dell_button {
  display: flex;
  height: 36px;
  align-items: center;
  margin: 0 10px;
  width: 33.333%;
  padding: 5px 30px 5px 10px;
  background: #0c4da2;
  color: #fff;
  line-height: 1;
  position: relative;
}
div.dell_header .dell_button input {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -6px;
}
.mob-label {
  display: none;
}
.block-form input[type='text'],
.block-form textarea {
  display: inline-block;
  width: 100%;
  border-radius: 1px;
  padding: 9px 13px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
  color: #141414;
  line-height: 1.2;
  border: 2px #d6d6d6 solid;
  background-color: #fafafa;
  -moz-box-shadow: 0 0 7px -2px #ccc;
  -webkit-box-shadow: 0 0 7px -2px #ccc;
  box-shadow: 0 0 7px -2px #ccc;
  margin-bottom: 15px;
}
.error {
  border: 2px solid red !important;
}
#perka_imone {
  margin-bottom: 15px;
}
.cart_hidden {
  display: none !important;
}
.ext_button.disabled {
  background: grey;
}
.ext_button.disabled:hover {
  background: grey;
}
.fiz-fields.comp-hid,
.company-fields.comp-hid {
  display: none;
}
.cart-user-price {
  font-size: 8px;
}
@media (max-width: 767px) {
  .addToCartPopupFooter .ext_button {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
  }
  .addToCartPopupFooter .ext_button span {
    text-align: center;
    width: 100%;
  }
  #addToCartPopupContent {
    min-width: initial;
    padding: 5px 0;
  }
  table.addToCartPorductsListGrid td {
    padding: 5px 10px;
    border-top: 1px solid #ddd;
  }
  table.addToCartPorductsListGrid td strong {
    white-space: nowrap;
  }
  table.addToCartPorductsListGrid tr {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  table.addToCartPorductsListGrid tr td:nth-child(1),
  table.addToCartPorductsListGrid tr td:nth-child(2) {
    width: 50%;
    flex: 1 1 50%;
  }
  table.addToCartPorductsListGrid tr td:nth-child(3) {
    width: 100%;
    flex: 1 1 100%;
    text-align: center;
  }
  .wat_to_do a {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  .product-new-cart thead {
    display: none;
  }
  .product-new-cart {
    display: block;
  }
  .product-new-cart .remove_prod {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
  }
  .product-new-cart thead {
    display: none;
  }
  .product-new-cart > tbody {
    display: block;
  }
  .product-new-cart > tbody > tr {
    display: block;
    border: 1px solid #ccc;
    background: #fafafa;
    position: relative;
  }
  .product-new-cart > tbody > tr > td {
    text-align: center;
    border: 0;
    padding: 4px 15px;
    font-size: 11px;
  }
  .product-new-cart .cart_price_container > tbody > tr > td {
    text-align: left;
  }
  .product-new-cart > tbody > tr > td:first-child {
    display: block;
  }
  div.quant input {
    float: none;
    width: 40px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
  div.type-2c.section {
    min-height: 1px;
  }
  .product-new-cart .photo_place {
    background: #fff;
  }
  .product-new-cart .photo_place img {
    height: 140px;
    width: auto;
  }
  .product-new-cart {
    background: none;
    border: 0;
  }
  .product-new-cart tr {
    background: #fff;
    margin-bottom: 15px;
  }
  .product-new-cart td {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
    width: auto !important;
    padding: 15px !important;
  }
  .product-new-cart tr:last-child td {
    border: 0;
  }
  div.dell_header {
    flex-direction: column;
    margin: 0;
  }
  div.dell_header .dell_button {
    width: 100%;
    margin-bottom: 15px;
  }
  div.dell_header .dell_button:last-child {
    margin-bottom: 0;
  }
  .dell_title.f_16 {
    position: relative;
    bottom: -6px;
  }
  .mob-label {
    display: inline-block;
  }
  div.cart-content div.dell-header-new {
    flex-wrap: wrap;
  }
  div.cart-content div.dell-header-new .dell-button-new {
    width: 100%;
    margin-bottom: 10px;
  }
}
